[Unit]
Description=Elgato Key Light Daemon
Documentation=https://github.com/jmylchreest/keylightd
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/keylightd
Restart=on-failure
RestartSec=10
User=keylightd
Group=keylightd
DynamicUser=yes
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RemoveIPC=yes
PrivateTmp=yes
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
ReadWritePaths=/var/lib/keylightd
StateDirectory=keylightd
ConfigurationDirectory=keylightd
RuntimeDirectory=keylightd
Environment="XDG_CONFIG_HOME=/etc/keylightd"
Environment="XDG_RUNTIME_DIR=/run/keylightd"

[Install]
WantedBy=multi-user.target