[Unit]
Description=Keylightd Daemon
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/bash -c 'export PATH="$(brew --prefix)/bin:$PATH"'
ExecStart=keylightd
Restart=on-failure
RestartSec=5s
WorkingDirectory=%h

# Security best practices
NoNewPrivileges=true
ProtectSystem=full
PrivateTmp=true

[Install]
WantedBy=default.target
