[Desktop Entry]
Type=Application
Name=Keylightd Daemon
Comment=Starts the Elgato Key Light daemon
Exec=/app/bin/keylightd
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true